<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>데이터 전송 결과를 알려주는 페이지</h4>
    <h5><%= title %></h5>
    <div>너의 이름은 <span><%= userInfo.name %></span></div>
    <div>자네의 성별은 <span><%= userInfo.gender %></span></div>
    <div>생년월일은 
        <span><%= userInfo.year %></span>년
        <span><%= userInfo.month %></span>월
        <span><%= userInfo.date %></span>일
    </div>
    <div>관심사는 <span><%= userInfo.hobby %></span></div>
    <div>좋아하는 색 <span><%= userInfo.color %></span></div>
    <div>좋아하는 숫자 <span><%= userInfo.number %></span></div>

    <br/>
    <br/>
    <a href="/">폼양식으로 이동</a>
    
</body>
</html>